header {
  position: fixed;
  width: 100%;
  color: var(--secondary);
  backdrop-filter: blur(50px);
  padding: 2rem;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  @media all and (max-width: 999px) {
    padding: 1rem;
  }
}
