@use "sass:color";

@function toRGB($color) {
  @return color.red($color) + ", " + color.green($color) + ", " +
    color.blue($color);
}

// @import url("https://fonts.googleapis.com/css1?family=Roboto:wght@400;700&display=swap");

// body {
//   font-family: "Roboto", sans-serif;
// }

$colors: (
  primary: #e34e19,
  secondary: #45187f,
  background: #f5f5f5,
  text-dark: #000,
  text: #949494,
  text-mid: #949494,
  light-grey: #f7f7f7,
  border: #eaeaea,
  white: #fff,
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{toRGB($color)};
  }
}
